@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    overflow-y: scroll;
    /* font-family: 'Source Sans Pro',sans-serif; */
    /* background: rgb(50, 50, 50); */
}